<div nz-row nzJustify="center" nzType="flex" nzAlign="middle" class="welcome">
  <div nz-col nzLg="16" nzMd="24" nzSm="24" nzXs="24" class="block-content">
    <p class="title">Время улучшать <br><span class="highlight">память</span></p>
  </div>
</div>

<div nz-row nzJustify="center" nzType="flex" nzAlign="middle" class="prices block">
  <div nz-col nzLg="24" class="text-center">
    <h2 class="title-block">
      Стоимость
    </h2>
  </div>

  <div nz-col nzLg="6" nzMd="12" class="price">
    <nz-card class="card text-center">
      <h2 class="title">Дети<br><span class="age">(с 9 до 12 лет)</span></h2>
      <p class="price-cost">320 000 сум</p>
      <p class="mouth">за 1 месяц (8 занятий)</p>
      <p class="delay"><b>Длительность:</b> 8 месяцев</p>
      <button routerLink="/record/discipline/2/type/1" nz-button nzType="primary" nzSize="large">Записаться</button>
      <p class="sub-button">на пробный урок</p>
    </nz-card>
  </div>
</div>
