<ul nz-menu [nzTheme]="'light'" [nzMode]="mode" class="navigation">
  <li nz-menu-item routerLink="" routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact:true}"><i nz-icon type="home" theme="outline"></i>Главная</li>
  <li nz-submenu>
    <span title><i nz-icon type="bulb" theme="outline"></i> Обучение</span>
    <ul>
      <li nz-menu-group>
        <ul>
          <li nz-menu-item routerLink="/disciplines/mental-arithmetic" routerLinkActive="ant-menu-item-selected">Ментальная арифметика</li>
          <li nz-menu-item routerLink="/disciplines/mnemonics" routerLinkActive="ant-menu-item-selected">Мнемотехника</li>
          <li nz-menu-item routerLink="/disciplines/english-mnemonics" routerLinkActive="ant-menu-item-selected">Английский язык при помощи мнемотехники</li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-menu-item routerLink="store" routerLinkActive="ant-menu-item-selected"><i nz-icon type="shopping" theme="outline"></i>Магазин</li>
  <li nz-menu-item><i nz-icon type="message" theme="outline"></i>Форум</li>
  <li nz-menu-item><a href="https://cabinet.eon.uz"><i nz-icon type="user" theme="outline"></i>Кабинет</a></li>
  <li nz-menu-item routerLink="contacts" routerLinkActive="ant-menu-item-selected"><i nz-icon type="phone" theme="outline"></i>Контакты</li>
  <li nz-menu-item *ngIf="trialLesson" routerLink="/record" class="active-selected"><i nz-icon type="notification" theme="outline"></i>Запись на пробный урок</li>
</ul>
