<div nz-row nzJustify="center" nzType="flex" nzAlign="middle" class="welcome">
  <div nz-col nzLg="16" nzMd="24" nzSm="24" nzXs="24" class="block-content">
    <p class="title">Время улучшать <br><span class="highlight">память</span></p>
  </div>
</div>

<div nz-row nzType="flex" nzAlign="top" nzJustify="center" class="benefits block">
  <div nz-col nzXs="24" class="text-center">
    <h2 class="title-block">Преимущества</h2>
  </div>
  <div nz-col nzLg="8" nzMd="8" nzSm="12" class="block-content">
    <img src="assets/images/illustrations/undraw_directions_x53j.svg"
         alt="Методика разработана совместно с первым мнемонистом узбекистана" class="image"/>
    <p class="title">Первый в Узбекистане центр развития памяти с использованием мнемотехники</p>
  </div>
  <div nz-col nzLg="8" nzMd="8" nzSm="12" class="block-content">
    <img src="assets/images/illustrations/undraw_teaching_f1cm.svg"
         alt="Методика разработана совместно с первым мнемонистом узбекистана" class="image"/>
    <p class="title">Методика разработана совместно с первым мнемонистом узбекистана</p>
  </div>
  <div nz-col nzLg="8" nzMd="8" nzSm="12" class="block-content">
    <img src="assets/images/illustrations/undraw_winners_ao2o.svg"
         alt="Методика разработана совместно с первым мнемонистом узбекистана" class="image"/>
    <p class="title">Результат виден после 1-го занятия</p>
  </div>
</div>

<div nz-row nzType="flex" nzAlign="middle" nzJustify="center" class="working markdown block">
  <div nz-col nzLg="24">
    <h2 class="title-block text-center">
      Как мы работаем
    </h2>
  </div>

  <div nz-col nzMd="24">
    <div nz-row nzType="flex" nzAlign="middle" nzJustify="end" class="theory">
      <div class="bg-theory"></div>
      <div nz-col nzLg="14" nzMd="18">
        <h2>ТЕОРИЯ</h2>
        <p>Мнемоника в переводе с древнегреческого «искусство запоминания».</p>
        <p>Иными словами, мнемоника или мнемотехника - это набор способов и приёмов для запоминания информации.
          Используя
          мнемонику, можно запоминать большие объёмы разнообразной информации: ряды чисел, слов; тексты, термины.</p>
        <p>Из-за непрерывного потока информации в повседневной жизни порой нам приходится запоминать большой объём
          информации
          за ограниченное время. Регулярные тренировки в течении нескольких недель позволят добиться заметных
          результатов, к
          примеру, запоминать ряд из 100 цифр за 5 минут.</p>
        <p>Конечно в обычно жизни такое требуется не часто, но приёмы мнемотехники открывают широкие возможности для
          запоминания обыденной информации, такой как номера телефонов, адреса, дни рождения, списки покупок и
          запланированных дел и многое другое.</p>
        <p>Через некоторое время, после начала занятий вы можете обнаружить, что записная книжка вам уже не нужна.</p>
      </div>
    </div>
  </div>

  <div nz-col nzMd="24">
    <div nz-row nzType="flex" nzAlign="middle" nzJustify="start" class="practice">
      <div class="bg-practice"></div>
      <div nz-col nzLg="14" nzMd="18">
        <h2>ПРАКТИКА</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque distinctio exercitationem ipsam optio sed.
          Accusamus aliquid aspernatur deserunt, explicabo incidunt modi molestias obcaecati odio officia placeat qui
          sint sit vitae?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam, aperiam culpa, cum delectus
          deserunt doloribus, earum eos eveniet iusto libero necessitatibus quas quibusdam rem repellendus similique
          ullam veniam vero.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem laudantium magni maxime minus nam nobis
          omnis repudiandae, sint sit voluptatibus. Ipsa, nobis, quod. At debitis harum odit. Eligendi, suscipit, unde.
        </p>
      </div>
    </div>
  </div>

  <div nz-col nzMd="24">
    <div nz-row nzType="flex" nzAlign="middle" nzJustify="end" class="homework">
      <div class="bg-homework"></div>
      <div nz-col nzLg="14" nzMd="12">
        <h2>30 МИНУТ В ДЕНЬ ДОМАШНИЕ ЗАДАНИЯ</h2>
        <p>Выполняя домашнее задание каждый день, вы будете развивать воображение, внимание, а также вырабатывать навык
          запоминания различной информации</p>
      </div>
    </div>
  </div>

  <div nz-col nzMd="24">
    <div nz-row nzType="flex" nzAlign="middle" nzJustify="start" class="genius">
      <div class="bg-genius"></div>
      <div nz-col nzLg="14" nzMd="12">
        <h2>ВЫ - ГЕНИЙ</h2>
        <p><i nz-icon type="check-circle" theme="outline"></i> Запоминать списки слов и воспроизводить их, как в прямом,
          так и в обратном порядке, а также вспоминать слова по порядковым номерам. </p>
        <p><i nz-icon type="check-circle" theme="outline"></i> Запоминать числовую информацию, со средней скоростью 100
          цифр за 5 минут. </p>
        <p><i nz-icon type="check-circle" theme="outline"></i> Быстрое запоминание иностранных слов, учебный процесс для
          Вас станет занимательной игрой, в процессе которой, вы легко сможете запомнить любые иностранные слова. </p>
        <p><i nz-icon type="check-circle" theme="outline"></i> Хранить в памяти необходимую информацию о человеке его
          имя, фамилию, дату рождения, номер телефона, адрес электронной почты, и т.д. </p>
        <p><i nz-icon type="check-circle" theme="outline"></i> Выучить текст, запомнить конспект, подготовиться к сдачи
          экзамена по неизученной теме в короткие сроки и с наименьшим количеством повторений. </p>
      </div>
    </div>
  </div>
</div>


<!--<nz-row nzType="flex" nzJustify="center" nzAlign="middle" class="teachers block">-->
  <!--<nz-col nzXs="24">-->
    <!--<h2 class="title-block text-center">-->
      <!--Учителя-->
    <!--</h2>-->
  <!--</nz-col>-->

  <!--<nz-col nzLg="4">-->
    <!--<nz-card class="teacher card">-->
      <!--<div class="photo">-->
        <!--<img src="assets/images/teachers/profilephoto1.webp" alt="Ли Виктория">-->
      <!--</div>-->
      <!--<div class="block-content">-->
        <!--<p class="title">-->
          <!--Ли Виктория-->
        <!--</p>-->
      <!--</div>-->
    <!--</nz-card>-->
  <!--</nz-col>-->
<!--</nz-row>-->

<div nz-row nzJustify="center" nzType="flex" nzAlign="middle" class="prices block">
  <div nz-col nzLg="24" class="text-center">
    <h2 class="title-block">
      Стоимость
    </h2>
    <p>Студентам <b class="color-primary">20%</b> скидка, также предоставляется <b class="color-primary">10%</b> скидка
      для тех у кого из семьи ходят на курсы более 2-х людей</p>
  </div>

  <div nz-col nzLg="6" nzMd="12" class="price">
    <nz-card class="card text-center">
      <h2 class="title">Дети<br><span class="age">(с 9 до 12 лет)</span></h2>
      <p class="price-cost">320 000 сум</p>
      <p class="mouth">за 1 месяц (8 занятий)</p>
      <p class="delay"><b>Длительность:</b> 8 месяцев</p>
      <button routerLink="/record/discipline/2/type/1" nz-button nzType="primary" nzSize="large">Записаться</button>
      <p class="sub-button">на пробный урок</p>
    </nz-card>
  </div>

  <div nz-col nzLg="6" nzMd="12" class="price">
    <nz-card class="card text-center">
      <h2 class="title">Подростки<br><span class="age">(с 12 до 17 лет)</span></h2>
      <p class="price-cost">320 000 сум</p>
      <p class="mouth">за 1 месяц (8 занятий)</p>
      <p class="delay"><b>Длительность:</b> 4 месяцев</p>
      <button routerLink="/record/discipline/2/type/2" nz-button nzType="primary" nzSize="large">Записаться</button>
      <p class="sub-button">на пробный урок</p>
    </nz-card>
  </div>

  <div nz-col nzLg="6" nzMd="12" class="price">
    <nz-card class="card text-center">
      <h2 class="title">Взрослые<br><span class="age">Днем</span></h2>
      <p class="price-cost">400 000 сум</p>
      <p class="mouth">за 1 месяц (8 занятий)</p>
      <p class="delay"><b>Длительность:</b> 2 месяцев</p>
      <button routerLink="/record/discipline/2/type/3" nz-button nzType="primary" nzSize="large">Записаться</button>
      <p class="sub-button">на пробный урок</p>
    </nz-card>
  </div>

  <div nz-col nzLg="6" nzMd="12" class="price">
    <nz-card class="card text-center">
      <h2 class="title">Взрослые<br><span class="age">Вечером</span></h2>
      <p class="price-cost">500 000 сум</p>
      <p class="mouth">за 1 месяц (8 занятий)</p>
      <p class="delay"><b>Длительность:</b> 2 месяцев</p>
      <button routerLink="/record/discipline/2/type/4" nz-button nzType="primary" nzSize="large">Записаться</button>
      <p class="sub-button">на пробный урок</p>
    </nz-card>
  </div>
</div>
