<div class="footer">
  <div nz-row>
    <div nz-col nzLg="6" nzMd="12" nzSm="12" nzXs="24" class="footer-block">
      <p class="title">
        Информация
      </p>
      <ul class="menu-content">
        <li>Франшиза</li>
        <li>Франшиза</li>
        <li>Франшиза</li>
        <li>Франшиза</li>
      </ul>
    </div>
    <div nz-col nzLg="6" nzMd="12" nzSm="12" nzXs="24" class="footer-block">
      <p class="title">
        Навигация
      </p>
    </div>
    <div nz-col nzLg="6" nzMd="12" nzSm="12" nzXs="24" class="footer-block">
      <p class="title">
        Обратный звонок
      </p>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixButton">
          <input type="text" nz-input placeholder="Введите свой номер">
        </nz-input-group>
        <ng-template #suffixButton>
          <button nz-button nzType="primary" nzSize="large" nzSearch>Звонок</button>
        </ng-template>
      </div>
    </div>
    <div nz-col nzLg="6" nzMd="12" nzSm="12" nzXs="24" class="footer-block">
      <p class="title">
        Контакты
      </p>
      <ul class="menu-content">
        <li class="has-icon"><i nz-icon type="phone" theme="outline"></i>+998 90 911 24 21</li>
        <li class="has-icon"><i nz-icon type="phone" theme="outline"></i>+998 91 163 85 55</li>
        <li class="has-icon"><i nz-icon type="mail" theme="outline"></i>info@eon.uz</li>
        <li class="has-icon"><i nz-icon type="environment" theme="outline"></i>Мирабадский р-н Госпитальный массив д.
          2-18
        </li>
      </ul>
    </div>
  </div>
</div>

<nz-footer class="author">
  2018 © Eon. All rights reserved. Design and development by Vladlen.
</nz-footer>
