<div nz-row class="welcome" nzType="flex" nzJustify="center">
  <div nz-col nzMd="24" class="block-content">
    <p>Развивай интелект с <br>инновационным центром <span class="color-primary">EON</span></p>
  </div>
</div>

<div nz-row class="about-us block" nzType="flex" nzAlign="middle" nzJustify="center">
  <div nz-col nzXs="18" nzSm="12" nzMd="10" nzLg="8" class="block-image">
    <img src="assets/images/illustrations/undraw_awards_fieb.svg" alt="Что такое Eon?">
  </div>
  <div nz-col nzSm="24" nzMd="14" nzLg="16" class="block-content">
    <h2 class="title-block">Почему выбирают нас</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolores est inventore iusto, laudantium minus,
      mollitia non perspiciatis possimus, praesentium quae quos repellat tempore ullam vero. Eum, nulla, quo.
      Delectus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolores est inventore iusto, laudantium minus,
      mollitia non perspiciatis possimus, praesentium quae quos repellat tempore ullam vero. Eum, nulla, quo.
      Delectus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolores est inventore iusto, laudantium minus,
      mollitia non perspiciatis possimus, praesentium quae quos repellat tempore ullam vero. Eum, nulla, quo.
      Delectus.</p>
  </div>
</div>

<div nz-row class="disciplines block" nzType="flex" nzJustify="center" nzAlign="middle">
  <div nz-col nzSm="24" class="text-center">
    <h2 class="title-block">Чему вы можете обучиться?</h2>
  </div>

  <div nz-col nzMd="24" nzLg="20">
    <div nz-row nzType="flex" nzAlign="middle">

      <div nz-col nzSm="12" nzMd="8" class="discipline">
        <nz-card class="card text-center">
          <div class="block-content">
            <img src="assets/images/illustrations/undraw_true_friends_c94g.svg" alt="" class="image">
            <p class="title">Ментальная арифметика</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad architecto, assumenda deleniti dolor
              dolores dolorum ea esse ex in magni mollitia, neque nostrum possimus quidem quo sed suscipit
              temporibus.</p>
            <p class="content">
              Для детей (с 9 до 12 лет)
            </p>
          </div>
          <button nz-button nzType="primary" routerLink="/disciplines/mental-arithmetic">Подробнее</button>
        </nz-card>
      </div>

      <div nz-col nzSm="12" nzMd="8" class="discipline">
        <nz-card class="card text-center">
          <div class="block-content">
            <img src="assets/images/illustrations/undraw_filing_system_b5d2.svg" alt="" class="image">
            <p class="title">Мнемотехника</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi aperiam asperiores aspernatur commodi
              consequuntur, cum dicta doloribus ea enim et harum inventore laborum odit quas quisquam quo sint.
              Eveniet.</p>
            <p class="content">
              Запись с 9 лет
            </p>
          </div>
          <button nz-button nzType="primary" routerLink="/disciplines/mnemonics">Подробнее</button>
        </nz-card>
      </div>

      <div nz-col nzSm="12" nzMd="8" class="discipline">
        <nz-card class="card text-center">
          <div class="block-content">
            <img src="assets/images/illustrations/undraw_group_chat_v059.svg" alt="" class="image">
            <p class="title">Английский язык при помощи мнемотехники</p>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto assumenda atque
              doloribus est
              eum excepturi fugit incidunt, iure nemo officiis perspiciatis placeat quam qui sed similique temporibus
              voluptas voluptatem.</p>
            <p class="content">
              Запись с 9 лет
            </p>
          </div>
          <button nz-button nzType="primary" routerLink="/disciplines/english-mnemonics">Подробнее</button>
        </nz-card>
      </div>

    </div>
  </div>
</div>

<div nz-row class="progress block" nzType="flex" nzAlign="middle" nzJustify="center">
  <div nz-col nzSm="24" class="text-center">
    <h2 class="title-block">Достижения</h2>

    <nz-row nzType="flex" nzJustify="center" nzAlign="middle">
      <nz-col nzLg="20" class="block-content">
        <nz-timeline nzMode="alternate">
          <nz-timeline-item>
            <p class="title">Начало</p>
            Create a services site 2015-09-01
          </nz-timeline-item>
          <nz-timeline-item nzColor="green">Solve initial network problems 2015-09-01</nz-timeline-item>
          <nz-timeline-item [nzDot]="dotTemplate">
            <p class="title">Начало</p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
            architecto beatae vitae dicta sunt explicabo.
          </nz-timeline-item>
          <nz-timeline-item nzColor="red">
            <p class="title">Начало</p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deserunt
            dicta distinctio dolores eligendi facere facilis illo illum itaque nihil obcaecati pariatur possimus, quidem
            rerum voluptatum! Asperiores excepturi odit provident.Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Aperiam deserunt dicta distinctio dolores eligendi facere facilis illo illum itaque nihil obcaecati
            pariatur possimus, quidem rerum voluptatum! Asperiores excepturi odit provident.
          </nz-timeline-item>
          <nz-timeline-item>Create a services site 2015-09-01</nz-timeline-item>
          <nz-timeline-item [nzDot]="dotTemplate">Technical testing 2015-09-01</nz-timeline-item>
        </nz-timeline>
        <ng-template #dotTemplate>
          <i nz-icon type="clock-circle-o" style="font-size: 16px;"></i>
        </ng-template>
      </nz-col>
    </nz-row>
  </div>
</div>

<div nz-row class="partners block" nzType="flex" nzAlign="middle" nzJustify="center">
  <div nz-col nzSm="24" class="text-center">
    <h2 class="title-block">Наши партнеры</h2>

    <nz-row nzType="flex" nzAlign="middle" nzJustify="center">
      <nz-col *ngFor="let i of [1,2,3,4,5,6]" nzLg="4" nzMd="4" nzSm="6" nzXs="8">
        <div class="partner">
          <img src="assets/images/logo.svg" alt="">
        </div>
      </nz-col>
    </nz-row>

  </div>
</div>
